<a href="https://colab.research.google.com/github/bobbykawade/Twitter-Webscraping-Using-Tweepy/blob/main/Bitcoin_Tweets_Scraping_using_Twitter_API_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install tweepy

Requirement already satisfied: tweepy in /usr/local/lib/python3.7/dist-packages (3.10.0)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from tweepy) (1.3.0)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.7/dist-packages (from tweepy) (1.15.0)
Requirement already satisfied: requests[socks]>=2.11.1 in /usr/local/lib/python3.7/dist-packages (from tweepy) (2.23.0)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->tweepy) (3.1.1)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests[socks]>=2.11.1->tweepy) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests[socks]>=2.11.1->tweepy) (2021.5.30)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests[socks]>=2.11.1->tweepy) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests[socks]>=2.11.1->tweepy) (3.0.4)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6; extra == "socks" in /usr/local/lib/python3.7/dist-packages (from requests[socks]>=2.11.1->tweepy) (1.7.1)

In [2]:
import tweepy
import pandas as pd
import numpy as np

In [8]:
# all 4 authentication keys to acess twitter API
# to connect as OAth Handler or jump server/ reverse proxy server
consumer_key = "GnRTq82coCIo3jt4jA7zODoWm"
consumer_key_secret = "Ucm1I2eizuzjFD2VptFY8mvxL8QIYDvaREnSTzLyUFcwz7RKoO"

# from proxy server we need to connect
access_token = "1136245774843428864-MNy7YOVmdYU0RtWh8wgnwOUWzHyExj"
access_token_secret = "9Gz6bd2tjXLCN9iUfyjzOmNkF1RXm0MnyM2HVCe1geYwC"

In [9]:
# connected to jump server of twitter
auth = tweepy.OAuthHandler(consumer_key, consumer_key_secret)

In [10]:
# now we can connect from jump server to web server of twitter
auth.set_access_token(access_token, access_token_secret)

In [11]:
# now we can connect to API Strong server of twitter
api = tweepy.API(auth)

In [32]:
public_tweets = api.search('data science jobs', count=500, lang='en', tweet_mode='extended')

In [33]:
# will now create a pandas dataframe as follows:
df = pd.DataFrame(data=[tweet.full_text for tweet in public_tweets], columns=['original_Tweets'])

# We display the first 10 elements of the dataframe:
df.head(10)

                                     original_Tweets
0  RT @rystoli: As I hear from more psych folk co...
1  Can someone please recommend a platform for en...
2  Can someone please recommend a platform for en...
3  RT @ESAesdc: We are hiring a new @ESAEsdc Syst...
4  RT @ESAesdc: We are hiring a new @ESAEsdc Syst...
5  RT @ktiveron: for those looking for careers in...
6  for those looking for careers in machine learn...
7  RT @mastibara: How AlmaBetter helps fill #data...
8  How AlmaBetter helps fill #datascience jobs at...
9  REQUIREMENTS TO BE AN AARP DATA MINER..\nCompl...

In [37]:
df.shape

(100, 7)

In [38]:
# add relevant data:
df['len']  = np.array([len(tweet.full_text) for tweet in public_tweets])
df['ID']   = np.array([tweet.id for tweet in public_tweets])
df['Date'] = np.array([tweet.created_at for tweet in public_tweets])
df['Source'] = np.array([tweet.source for tweet in public_tweets])
df['Likes']  = np.array([tweet.favorite_count for tweet in public_tweets])
df['RTs']    = np.array([tweet.retweet_count for tweet in public_tweets])

In [39]:
# Display of first 10 elements from dataframe:
display(df.head(10))

                                     original_Tweets  len  ...  Likes RTs
0  RT @rystoli: As I hear from more psych folk co...  140  ...      0  35
1  Can someone please recommend a platform for en...   84  ...      1   0
2  Can someone please recommend a platform for en...   83  ...      0   0
3  RT @ESAesdc: We are hiring a new @ESAEsdc Syst...  140  ...      0   7
4  RT @ESAesdc: We are hiring a new @ESAEsdc Syst...  140  ...      0   7
5  RT @ktiveron: for those looking for careers in...  129  ...      0   2
6  for those looking for careers in machine learn...  115  ...      1   2
7  RT @mastibara: How AlmaBetter helps fill #data...  140  ...      0   1
8  How AlmaBetter helps fill #datascience jobs at...  132  ...      0   1
9  REQUIREMENTS TO BE AN AARP DATA MINER..\nCompl...  266  ...      0   0

[10 rows x 7 columns]

In [40]:
# dataframe to be stored in CSV file
df.to_csv('datasciencejobsscraping.csv')